<launch>

    <arg name="car_name" default="car_5" />
    <arg name="trajectory_name" default="raceline" />

    <node pkg="f1tenth_purepursuit"
          type="pure_pursuit.py"
          name="pure_pursuit"
          output="screen"
          args="$(arg car_name) $(arg trajectory_name)">
    </node>

</launch>
